.popup {
  display: flex;
  visibility: hidden;
  transition: visibility .4s linear, opacity .4s linear;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

