.popup__submit {
  background-color: #000;
  color: #ffff;
  font-size: 18px;
  width: 358px;
  min-height: 50px;
  margin-top: 19px;
  border: none;
}

@media (max-width: 580px) {
  .popup__submit {
    max-width: 238px;
    margin-top: 15px;
    min-height: 46px;
    font-size: 14px;
  }
}

.popup__submit:hover {
  opacity: 0.8;
  border-radius: 2px;
  cursor: pointer; 
}
