.profile__add-button {
  width: 22px;
  height: 50px;
  border: solid 2px #ffff;
  padding: 14px 74px;
  margin: 35px 0 0 0;
  background: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 739px) {
  .profile__add-button {
    padding: 14px 250px;
    margin: 38px auto;
  }
}

@media (max-width: 580px) {
  .profile__add-button {
    padding: 10px 139px;
    margin: 34px auto 0;
    width: 16px;
    min-height: 16px;
    background-size: 16px;
  }
}

@media (max-width: 275px) {
  .profile__add-button {
    padding: 10px 95px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}